@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed; /* Set the background image */
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px); /* Apply blur effect */
    z-index: -1; /* Ensure it is behind all other content */
}

.app {
    height: 100vh;
    padding: 0 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;

    .container {
        width: 100%;
        max-width: 800px; 
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .addHome {
        padding: 10px 20px;
        margin-top: 25px;
        cursor: pointer;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        font-family: 'Merriweather', serif;

        &:hover {
            background-color: darkslategray;
            transform: scale(1.05);
        }
    }

    h1 {
        margin-top: 0%;
        margin-bottom: 35px;
        font-size: 35px;
        font-family: 'Merriweather', serif;
    }

    .books {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .book {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;

            min-width: 230px;

            img {
                width: 200px;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
            }

            h2 {
                font-family: 'Merriweather', serif;
                font-weight: 700;
            }

            p {
                font-family: 'Merriweather', serif;
                font-weight: 300;
            }

            span {
                font-family: 'Merriweather', serif;
                font-weight: 400;
            }

            button {
                padding: 10px 20px;
                background-color: teal;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease;
                font-family: 'Merriweather', serif;

                &:hover {
                    background-color: darkslategray;
                    transform: scale(1.05);
                }
            }

            .delete {
                background-color: rgb(242, 100, 100);

                &:hover {
                    background-color: rgb(211, 75, 75);
                }
            }

            .update {
                background-color: rgb(139, 139, 234);

                &:hover {
                    background-color: rgb(105, 105, 204);
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center; 
        justify-content: center; 
        width: 100%;
        max-width: 350px; 
        margin: 0 auto; 

        input, textarea, button {
            width: 100%; 
            padding: 10px;
            border: 1px solid gray;
            border-radius: 5px;
            box-sizing: border-box; 
            font-family: 'Merriweather', serif;
        }

        textarea {
            padding: 10px;
        }

        button {
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: darkslategray;
                transform: scale(1.05);
            }
        }
    }
}
